<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.maci0182.secretMessenger" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SecretMessenger</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
            <icon src="res/icons/ios/icon-40.png" width="40" height="40" />
			<icon src="res/icons/ios/icon-40-2x.png" width="80" height="80" />
			<icon src="res/icons/ios/icon-60.png" width="60" height="60" />
			<icon src="res/icons/ios/icon-60-2x.png" width="120" height="120" />
			<icon src="res/icons/ios/icon-60-3x.png" width="180" height="180" />
			<icon src="res/icons/ios/icon-72.png" width="72" height="72" />
			<icon src="res/icons/ios/icon-72-2x.png" width="144" height="144" />
			<icon src="res/icons/ios/icon-76.png" width="76" height="76" />
			<icon src="res/icons/ios/icon-76-2x.png" width="152" height="152" />
			<icon src="res/icons/ios/icon.png" width="57" height="57" />
			<icon src="res/icons/ios/icon-2x.png" width="114" height="114" />
			<icon src="res/icons/ios/icon-small.png" width="29" height="29" />
			<icon src="res/icons/ios/icon-small-2x.png" width="58" height="58" />

            <splash src="res/screens/ios/screen-ipad-portrait-2x.png" />
            <splash src="res/screens/ios/screen-ipad-portrait.png" />
            <splash src="res/screens/ios/screen-iphone-portrait-2x.png" />
            <splash src="res/screens/ios/screen-iphone-portrait-568h-2x.png" />
            <splash src="res/screens/ios/screen-iphone-portrait-667h.png" />
            <splash src="res/screens/ios/screen-iphone-portrait-736h.png" />
            <splash src="res/screens/ios/screen-iphone-portrait.png" />
			
    </platform>
        <preference name="AutoHideSplashScreen" value="true" />
		<preference name="SplashScreenDelay" value="1500" />
		<preference name="SplashMaintainAspectRatio" value="true" />
		<preference name="SplashShowOnlyFirstTime" value="false" />
</widget>
